<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story Writer</title>
  </head>
  <body>
    <h1>Submit a story</h1>
    <p>Submit a story and we'll review it ASAP!</p>
    <form method="POST" action="/story">
      <div>
        <textarea style="width: 500px; height: 300px" name="story"> </textarea>
      </div>
      <button type="submit">Submit for review</button>
    </form>
    <br />
    <br />
    <br />
    <a href="/admin">View Admin Page</a>
  </body>
</html>
